In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import seaborn as sns
import matplotlib.pyplot as plt

sns.set_style('whitegrid')
plt.style.use('fivethirtyeight')
%matplotlib inline

# First Glance

In [3]:
# get train & test csv files as a DataFrame
limit_rows   = 700000

# guessing dtypes for each column is very memory demanding.
# So, specifying dtypes should always be done. 
train_df = pd.read_csv("train_ver2.csv",dtype={"sexo":str, "ind_nuevo":str, "ult_fec_cli_1t":str,
                                               "indext":str}, nrows=limit_rows)

unique_ids   = pd.Series(train_df["ncodpers"].unique())
limit_people = 1e4
unique_id    = unique_ids.sample(n=limit_people)
train_df     = train_df[train_df.ncodpers.isin(unique_id)]
train_df.describe()

,ncodpers,indrel,indrel_1mes,tipodom,cod_prov,ind_actividad_cliente,renta,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
count,1.115000e+04,11012.000000,11012.0,11012.0,10935.000000,11012.000000,9.184000e+03,11150.0,11150.0,11150.000000,...,11150.000000,11150.000000,11150.000000,11150.000000,11150.000000,11150.000000,11150.000000,11086.000000,11086.000000,11150.000000
mean,7.477256e+05,1.044497,1.0,1.0,26.893004,0.548583,1.356820e+05,0.0,0.0,0.772735,...,0.007354,0.009955,0.004305,0.064753,0.063318,0.034709,0.005919,0.061970,0.069096,0.152825
std,3.936308e+05,2.087849,0.0,0.0,12.547094,0.497657,2.282024e+05,0.0,0.0,0.419084,...,0.085445,0.099282,0.065474,0.246101,0.243546,0.183049,0.076712,0.241112,0.253629,0.359835
min,1.623600e+04,1.000000,1.0,1.0,1.000000,0.000000,8.124720e+03,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.335338e+05,1.000000,1.0,1.0,17.000000,0.000000,6.990237e+04,0.0,0.0,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.553455e+05,1.000000,1.0,1.0,28.000000,1.000000,1.030017e+05,0.0,0.0,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.095151e+06,1.000000,1.0,1.0,34.000000,1.000000,1.578269e+05,0.0,0.0,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.378875e+06,99.000000,1.0,1.0,52.000000,1.000000,1.113990e+07,0.0,0.0,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
train_df.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
9,2015-01-28,1050620,N,ES,H,23,2012-08-10,0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
17,2015-01-28,1050627,N,ES,H,23,2012-08-10,0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
111,2015-01-28,1050503,N,ES,V,23,2012-08-10,0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
217,2015-01-28,1050913,N,ES,H,26,2012-08-10,0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
219,2015-01-28,1050915,N,ES,H,37,2012-08-10,0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0